<div class="row register">
  <div class="col-md-12">
    <div class="main-body">
      <div class="regLabel">
        <h2>Registration Form</h2>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="signUp()">
        <div class="form-group reg">
          <label for="name">Name :</label>
          <input type="text" name="name" class="form-control regInput" placeholder="Name" formControlName="userName">
          <div
            *ngIf="registerForm.get('userName').invalid && (registerForm.get('userName').dirty || registerForm.get('userName').touched)"
            class="text-danger">
            <small *ngIf="registerForm.get('userName').errors.required">Name is Required </small>
          </div>
        </div>
        <div class="form-group reg">
          <label for="name">Email :</label>
          <input type="email" name="email" class="form-control regInput" placeholder="Email"
            formControlName="userEmail">
          <div
            *ngIf="registerForm.get('userEmail').invalid && (registerForm.get('userEmail').dirty || registerForm.get('userEmail').touched)"
            class="text-danger">
            <small *ngIf="registerForm.get('userEmail').errors.required">Email is Required </small>
            <small *ngIf="registerForm.get('userEmail').errors.email">Invalid Email Format </small>
          </div>
        </div>
        <div class="form-group reg">
          <label for="name">Password :</label>
          <input type="password" name="name" class="form-control regInput" placeholder="Password"
            formControlName="userPassword">
          <div
            *ngIf="registerForm.get('userPassword').invalid && (registerForm.get('userPassword').dirty || registerForm.get('userPassword').touched)"
            class="text-danger">
            <small *ngIf="registerForm.get('userPassword').errors.required">Password is Required </small>
            <small *ngIf="registerForm.get('userPassword').errors.passwordInvalid">Password must contain one letter , one digit and one special character and must be upto 12 characters long</small>
          </div>
        </div>
        <div class="form-group reg">
          <label for="name">Phone No :</label>
          <input type="tel" name="number" class="form-control regInput" placeholder="PhoneNo"
            formControlName="userPhone" inputmode="numeric">
          <div
            *ngIf="registerForm.get('userPhone').invalid && (registerForm.get('userPhone').dirty || registerForm.get('userPhone').touched)"
            class="text-danger">
            <small *ngIf="registerForm.get('userPhone').errors.required">Phone Number is Required </small><br>
            <small *ngIf="registerForm.get('userPhone').errors.phoneNumberLength">Phone Number should be 10 digits long </small>
          </div>
        </div>
        <div class="form-group reg">  
          <label for="name">Role :</label><br>
          <select class="regRole" formControlName="userRole">
            <option [value]="role.name" *ngFor="let role of roles">{{role.name}}</option>
          </select>
          <div
            *ngIf="registerForm.get('userRole').invalid && (registerForm.get('userRole').dirty || registerForm.get('userRole').touched)"
            class="text-danger">
            <small *ngIf="registerForm.get('userRole').errors.required">Role is Required </small>
          </div>
        </div>
        <input type="submit" class="btn btn-my regInput" value="Sign Up">
        <div class="login">
          Already have an account ? <a routerLink="/login">Login</a> here.
        </div>
      </form>
    </div>
  </div>
</div>