.register{
    padding-left: 35vw;
    background-image: url(../../../assets/images/library-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vw;
}
.regLabel{
    margin-top: 30px;
    margin-bottom: 2vw;
}
.regInput{
   width: 23vw;
}
.reg{
   margin-bottom: 10px;
}
.regRole{
    width:23vw;
    height:3vw;
    border-radius:7px;
}
.login{
  padding-left:2vw;
}

